<div class="mb-5">
  <h2 class="mb-3"><%= t(:device_form_details_subhead) %></h2>
  <%= form.text_field :name %>
  <%= form.text_field :description %>
  <%= form.select :exposure, options_for_select(Device::EXPOSURE_VALUES.map { |v| [v.capitalize, v]}, device.exposure) %>
</div>

<% if device.mac_address || local_assigns[:include_hardware_info] %>
  <div class="mb-5">
    <h2 class="mb-0"><%= t(:device_form_hardware_info_subhead) %></h2>
    <p class="mb-3"> <%= t(:device_form_hardware_info_blurb_html) %></p>
    <%= form.select :hardware_version_override,
      options_for_select(
        Device::HARDWARE_VERSION_OVERRIDE_VALUES.map { |v| [t(:"device_form_hardware_version_override_option_#{v.gsub(".", "_")}"), v]},
        device.hardware_version_override
      ),
      required: true, label: t(:device_form_hardware_version_override_label) %>
    <%= form.text_field :mac_address, required: true, label: t(:device_form_mac_address_label), pattern: "^([0-9A-Fa-f]{2}[:\\-]){5}([0-9A-Fa-f]{2})$", help: t(:device_form_mac_address_help) %>
  </div>
<% end %>

<div class="mb-5">
  <h2 class="mb-0" ><%= t(:device_form_location_subhead) %></h2>
  <p class="mb-3"> <%= t(:device_form_location_blurb) %></p>
  <%= form.hidden_field :latitude %>
  <%= form.hidden_field :longitude %>
  <%= render partial: "ui/shared/map_location_picker", locals: { latitude_input_id: "device_latitude", longitude_input_id: "device_longitude"} %>
</div>
<div class="mb-5">
  <h2 class="mb-0"><%= t(:device_form_open_data_subhead) %></h2>
  <p class="mb-3"> <%= t(:device_form_open_data_blurb) %></p>
  <%= form.check_box :is_private, label: t(:device_form_is_private_label) %>
  <%= form.check_box :precise_location, label: t(:device_form_precise_location_label) %>
  <% if device.owner.forward_device_readings? %>
    <%= form.check_box :enable_forwarding, label: t(:device_form_enable_forwarding_label) %>
  <% end %>
</div>
<div class="mb-5">
  <h2 class="mb-0"><%= t(:device_form_notifications_subhead) %></h2>
  <p class="mb-3"> <%= t(:device_form_notifications_blurb) %></p>
  <%= form.check_box :notify_low_battery, label: t(:device_form_notify_low_battery_label) %>
  <%= form.check_box :notify_stopped_publishing, label: t(:device_form_notify_stopped_publishing_label) %>
</div>
<div class="mb-5">
  <h2 class="mb-0"><%= t(:device_form_tags_subhead) %></h2>
  <p class="mb-3"> <%= t(:device_form_tags_blurb) %></p>
  <%= form.select :tag_ids, options_from_collection_for_select(Tag.all, :id, :name, { selected: device.tag_ids }), { label: t(:device_form_tags_label)},  { multiple: true, class: "tag-select" } %>
</div>
<div>
  <h2 class="mb-0"><%= t(:device_form_postprocessing_subhead) %></h2>
  <p class="mb-3"> <%= t(:device_form_postprocessing_blurb_html) %></p>
  <%= form.fields_for :postprocessing, device.postprocessing || Postprocessing.new do |fp| %>
    <%= fp.text_field :hardware_url, label: t(:device_form_hardware_url_label) %>
  <% end %>
</div>
