<%= render partial: "ui/devices/profile_header", locals: { device: @device } %>
<%= render layout: "ui/shared/form_container", locals: { title: t(:edit_device_header) } do %>
  <%= bootstrap_form_for @device, url: ui_device_path(@device) do |form| %>
    <%= hidden_field_tag :goto, params[:goto] %>
    <%= render partial: "fields", locals: { device: @device, form: form } %>
    <%= render partial: "ui/shared/form_buttons", locals: { form: form, back_href: ui_device_path(@device.id), submit_label: t(:edit_device_submit) } %>
  <% end %>
  <% if authorize? @device, :destroy? %>
    <%= render layout: "ui/shared/danger_zone" do %>
      <div><%= link_to t(:edit_device_delete_device_submit), delete_ui_device_path(@device.id), class: "btn btn-danger w-100 w-md-25 justify-content-center" %></div>
    <% end %>
  <%  end %>
<%  end %>
