<%= bootstrap_form_tag url: ui_sessions_path do |f| %>
        <%= f.text_field :username_or_email, value: params[:username_or_email], autofocus: params[:username_or_email].blank? %>
        <%= f.password_field :password %>
    <%= f.hidden_field :goto, value: params[:goto] %>
    <div class="mt-4">
      <%= f.primary t(:new_session_submit), class: "btn btn-primary w-100 w-md-auto" %>
    </div>
    <div class="row mt-4">
      <div class="col-md-6">
        <h4 class="my-3"><%= t :new_account_heading %></h4>
        <a class="btn btn-secondary w-100 w-md-auto" href="<%= new_ui_user_path %>"><%= t :new_account_submit %></a>
      </div>
      <div class="col-md-6">
        <h4 class="my-3"><%= t :forgot_password_heading %></h4>
        <%= f.submit t(:forgot_password_submit),  name: 'send_password_email', class: "btn btn-secondary w-100 w-md-auto" %>
      </div>
    </div>
<% end %>
