<%= render layout: "ui/shared/form_container" do %>
  <%= bootstrap_form_tag url: ui_sessions_path do |f| %>
    <%= f.text_field :username_or_email, value: params[:username_or_email], autofocus: params[:username_or_email].blank? %>
    <%= f.password_field :password %>
    <%= f.hidden_field :goto, value: params[:goto] %>
    <%= render partial: "ui/shared/form_buttons", locals: {form: f, submit_label: t(:new_session_submit) } %>
    <div class="row mt-4 mt-md-5">
      <div class="col-md-6">
        <h4 class="my-3"><%= t :new_account_heading %></h4>
        <a class="btn btn-secondary w-100 w-md-50" href="<%= new_ui_user_path %>"><%= t :new_account_submit %></a>
      </div>
      <div class="mt-4 mt-md-0 col-md-6 d-md-flex flex-column align-items-end">
        <h4 class="my-3"><%= t :forgot_password_heading %></h4>
        <%= f.submit t(:forgot_password_submit),  name: 'send_password_email', class: "btn btn-secondary w-100 w-md-50" %>
      </div>
    </div>
  <% end %>
<% end %>
