<%= bootstrap_form_tag url: ui_change_password_path do |f| %>
  <%= f.hidden_field :token, value: @token %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation, label: "Confirm new password" %>
  <div class="mt-4">
    <%= f.primary "Change my password", name: 'change_password' %>
  </div>
<% end %>
