<h2>Change password</h2>

<%= form_tag ui_change_password_path do %>
  <%= hidden_field_tag :token, @token %>
  <%= label_tag :password %>
  <%= password_field_tag :password %>
  <%= label_tag :password_confirmation, "Confirm new password" %>
  <%= password_field_tag :password_confirmation %>
  <%= submit_tag "Change my password", name: 'change_password' %>
<% end %>
