<h1>Change password</h1>

<%= form_tag change_password_path do %>
  <div class="card">


    <div class="my-3">
      <%= hidden_field_tag :token, params[:token] %>
    </div>
    <div class="my-3">
      <%= label_tag :password %><br />
      <%= password_field_tag :password %>
    </div>
    <div class="my-3">
      <%= label_tag :password, "Confirm new password" %><br />
      <%= password_field_tag :password_confirmation %>
    </div>
    <div class="mt-3">
      <%= submit_tag "Change my password", name: 'change_password', class: 'button bg-red', style: 'width:100%' %>
    </div>
  </div>
<% end %>
