<div class="reading"
  data-device-id="<%= component.device_id %>"
  data-sensor-id="<%= component.sensor_id %>"
  data-from-date="<%= local_assigns[:from] || component.last_reading_at - 1.day %>"
  data-to-date="<%= local_assigns[:to] || component.last_reading_at %>"
>
  <%= render layout: "ui/shared/box", locals: { class: "mb-3 p-3", no_padding: true } do %>
    <div class="row align-items-top mb-3">
      <div class="col-12 col-md-6 col-lg-4">
        <h3><%= component.measurement_name %></h3>
        <p class="date-line"><span data-hovered-text="<%= t(:reading_hover_reading_label) %>" class="label"><%= t(:reading_last_reading_label) %></span>: <span class="date"><%= component.last_reading_at.to_s(:long) %></span></p>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="big-number text-md-end text-lg-start">
          <span class="trend"><% case component.trend %><% when 1 %>▴<% when -1 %>▾<% else %><strong>=</strong><% end %></span> <span class="value"><%= component.latest_value.round(2) %></span><span class="unit"><%= component.value_unit %></span>
        </div>
      </div>
      <div class="col-12 col-lg-5">
        <div class="sparkline"></div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p><i><%= component.measurement_description %></i></p>
      </div>
    </div>
  <% end %>
</div>
