<p class="mb-0">
  <% if authorize? user, :update? %>
    <%= sc_nav_button_to(t(:show_user_edit_cta, owner: possessive(user, current_user)), edit_ui_user_path(user), local_assigns) %>
  <% end %>
  <% if authorize? user, :show_secrets? %>
    <%= sc_nav_button_to(t(:show_user_secrets_cta, owner: possessive(user, current_user)), secrets_ui_user_path(user), local_assigns) %>
  <% end %>
  <% if authorize? user, :register_device? %>
    <%= sc_nav_button_to(t(:show_user_register_cta), register_ui_devices_path, local_assigns) %>
  <% end %>
  <% if authorize? user, :create_experiment? %>
    <%= sc_nav_button_to(t(:show_user_new_experiment_cta), new_ui_experiment_path, local_assigns) %>
  <% end %>
  <% if current_user == user %>
    <%= sc_nav_button_to(t(:show_user_log_out_cta), logout_path, local_assigns.merge(class: "hover-danger")) %>
  <% end %>
</p>
