<%= render layout: "ui/shared/box", locals: { no_padding: true } do %>
  <div class="p-3" id="devices">
    <% if current_user == user && user.devices.length < 1 %>
      <%= render partial: "no_device_cta" %>
    <% else %>
      <h2><%= t :show_user_devices_heading %></h2>
      <% if user.devices.length < 1 %>
        <p><%= t :show_user_no_devices_message, username: user.username %></p>
      <% end %>
    <% end %>
  </div>
  <%= render partial: "ui/devices/device", collection: user.devices.for_user(current_user).by_last_reading, locals: { hide_owner: true } %>
<% end %>
