<% if user.city || user.country %>
  <p class="mb-0">
    <span class="pe-1"><%= show_svg("location_icon.svg") %></span>
    <%= [user.city, user.country].join(", ") %>
  </p>
<% end %>
<% if user.url %>
  <p class="mb-0">
    <%= image_tag("url_icon_light.svg", class: "pe-1") %>
    <%= link_to(user.url, user.url, class: "link-white") %>
  </p>
<% end %>
  <p class="mb-0 device-status <%= user.any_devices_online? ? "online" : "offline" %>">
    <span class="pe-1"><%= show_svg("status_icon.svg") %></span>
    <strong>
      <%= pluralize(user.devices.length, t(:user_meta_device_noun)) %>
      <% if user.devices.length > 0 %>
        (<%= user.online_device_count %> <%= t(:user_meta_online_adjective) %>)
      <% end %>
    </strong>
  </p>
