<%= bootstrap_form_for @user, url: ui_users_path do |f| %>
  <%= hidden_field_tag :goto, params[:goto] %>
  <%= f.text_field :email %>
  <%= f.text_field :username %>
  <%= f.password_field :password %>
  <%= f.password_field :password_confirmation %>
  <div class="mt-4">
    <%= f.check_box :ts_and_cs, label: t(:new_user_ts_and_cs_label_html) %>
  </div>
  <div class="mt-4">
    <%= f.primary t(:new_user_submit), class: "btn btn-primary w-100 w-md-auto" %>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <h4 class="my-3"><%= t :new_user_login_heading %></h4>
      <a class="btn btn-secondary w-100 w-md-auto" href="<%= new_ui_session_path %>"><%= t :new_user_login_link %></a>
    </div>
  </div>
<% end %>
