<p><%= t :secrets_user_blurb_html %></p>
<%= render partial: "ui/shared/copyable_input", locals: {
  name: t(:secrets_user_api_key_label),
  value: @user.access_token.token,
  id: "api-key"
} %>

<% if @user.forward_device_readings? %>
  <div class="mt-5">
    <h1 class="mb-4"><%= t :secrets_user_forwarding_heading, owner: possessive(@user, current_user) %></h1>
    <p><%= t :secrets_user_forwarding_blurb_html %></p>
    <%= render partial: "ui/shared/copyable_input", locals: {
      name: t(:secrets_user_forwarding_token_label),
      value: @user.forwarding_token,
      id: "forwarding-token"
    } %>
    <%= render partial: "ui/shared/copyable_input", locals: {
      name: t(:secrets_user_forwarding_username_label),
      value: @user.forwarding_username,
      id: "forwarding-username"
    } %>
  </div>
<% end %>
