<div class="user-profile-header bg-black text-white mx-2 mb-2 rounded-4 mb-md-5">
  <div class="container mx-2 mx-sm-auto w-auto w-sm-100 my-3 px-sm-3 g-0">
    <header class="row">
      <div class="col-12 col-sm-6 col-md-3 col-lg-2 px-3 px-sm-0 pe-md-3">
        <div class="circular-image-crop">
          <%= image_tag(
            @user.profile_picture.present? ? @user.profile_picture : "default_avatar.svg",
            alt: t(:show_user_profile_pic_alt, username: @user.username),
            class: "w-100"
          ) %>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-9 col-lg-10 mt-4 mt-sm-0 mb-2 mb-sm-0 px-3 justify-content-between d-flex g-0 flex-column">
        <div class="meta">
          <h1 class="mb-2"><%= t(:show_user_headline, username: @user.username) %></h1>
          <p class="mb-0 small">
          <%= image_tag("user_details_icon_light.svg", class: "pe-1") %>
          <%= @user.role.capitalize %>
          </p>
          <% if @user.city || @user.country %>
            <p class="mb-0 small">
            <%= image_tag("location_icon_light.svg", class: "pe-1") %>
            <%= [@user.city, @user.country].join(", ") %>
            </p>
          <% end %>
          <% if @user.url %>
            <p class="mb-0 small">
            <%= image_tag("url_icon_light.svg", class: "pe-1") %>
            <%= link_to(@user.url, @user.url, class: "link-white") %>
            </p>
          <% end %>
        </div>
        <div class="actions mt-3">
            <p class="mb-0">
              <% if authorize? @user, :update? %>
                <%= link_to(t(:show_user_edit_cta, owner: possessive(@user, current_user)), edit_ui_user_path(@user), class: "btn btn-dark me-md-2 w-100 w-md-auto") %>
              <% end %>
              <% if authorize? @user, :show_secrets? %>
                <%= link_to(t(:show_user_secrets_cta, owner: possessive(@user, current_user)), secrets_ui_user_path(@user), class: "btn btn-dark me-md-2 mt-3 mt-md-0 w-100 w-md-auto") %>
              <% end %>
              <% if current_user == @user %>
                <%= link_to(t(:show_user_log_out_cta), logout_path, class: "btn btn-dark mt-3 mt-lg-0 w-100 w-md-auto") %>
              <% end %>
            </p>
        </div>
      </div>
    </header>
  </div>
</div>
<div class="container g-0 px-2">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-2">
      <%= render layout: "ui/shared/box" do %>
        <%= render partial: "no_device_cta" %>
      <% end %>
    </div>
  </div>
</div>
