<div class="mb-5">
  <h2 class="mb-3"><%= t(:experiment_form_details_subhead) %></h2>
  <%= form.text_field :name %>
  <%= form.text_field :description %>
  <%= form.text_field :starts_at, class: "flatpickr" %>
  <%= form.text_field :ends_at, class: "flatpickr" %>
</div>
<div class="mb-5">
  <h2 class="mb-3"><%= t(:experiment_form_devices_subhead) %></h2>
  <div class="devices-typeahead">
    <%= label_tag "device_search", t(:experiment_form_search_devices_label), class: "form-label" %>
    <%= text_field_tag :device_search, "", class: "form-control device-search", list: "all-devices-list" %>
    <datalist id="all-devices-list" class="all-devices-list">
      <% Device.for_user(current_user).includes(:owner).each do |device| %>
        <option value="<%= device.id %>" data-owner="<%= device.owner&.username %>" data-location="<%= device.location_string %>" data-description="<%= device.description %>"><%= device.name %></option>
      <% end %>
    </datalist>
    <%= hidden_field_tag "experiment[device_ids][]", "" %>
    <div class="mt-3 container-lg devices-list border border-medium rounded <%= "d-none" unless experiment.devices.any? %>">
      <% experiment.devices.each do |device| %>
        <%= render partial: "ui/devices/select_list_item", locals: {
          value: device.id,
          name: "experiment[device_ids][]",
          title: device.name,
          owner: device.owner&.username,
          location: device.location_string,
          description: device.description
      } %>
      <% end %>
    </div>
    <template id="device-template">
      <%= render partial: "ui/devices/select_list_item", locals: { name: "experiment[device_ids][]" } %>
    </template>
  </div>
</div>
<% if current_user&.is_admin? %>
  <div class="mb-5">
    <h2 class="mb-3"><%= t(:experiment_form_admin_options_subhead) %></h2>
    <%= form.check_box :is_test, label: t(:experiment_form_is_test_label) %>
  </div>
<% end %>
