<%= bootstrap_form_for @experiment, url: ui_experiment_path(@experiment) do |form| %>
  <% @experiment.errors.each do |attr, msg| %>
    <%= "#{attr} #{msg}" if @experiment.errors[attr].first == msg %>
  <% end %>
  <%= render partial: "fields", locals: { experiment: @experiment, form: form } %>
  <div class="mt-5">
    <%= form.primary t(:edit_experiment_submit), class: "btn btn-primary w-100 w-md-auto" %>
  </div>
<% end %>
<% if authorize? @experiment, :destroy? %>
  <h2 class="mt-5 mb-3"><%= t(:edit_experiment_other_actions_subhead) %></h2>
  <div><%= link_to t(:edit_experiment_delete_experiment_submit), delete_ui_experiment_path(@experiment.id), class: "btn btn-danger w-100 w-md-auto" %></div>
<%  end %>
