<% content_for :container do %>
  <%= render layout: "ui/shared/container" do %>
    <%= render layout: "ui/shared/box" do %>
      <% if @title %>
        <header>
          <h1 class="mb-4"><%= @title %></h1>
        </header>
      <% end %>
      <main>
        <%= yield %>
      </main>
    <% end %>
  <% end %>
<% end %>
<%= render "layouts/base" %>
