<!DOCTYPE html>
<html>
  <head>
    <title><%= [t(:title), @title].compact.join(" – ") %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/nav" %>
    <%= render partial: "layouts/flashes" %>
    <main>
      <%= content_for?(:container) ? yield(:container) : yield %>
    </main>
    <%= render partial: "layouts/footer" %>
    <%= render partial: "layouts/doorbell_embed" %>
  </body>
</html>
