<!DOCTYPE html>
<html>
  <head>
    <title><%= ["SmartCitizen Platform", @title].compact.join(" – ") %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render partial: "layouts/flashes" %>
    <%= render partial: "layouts/nav" %>
    <div class="container bg-white mt-5 px-4 pb-4 pt-3">
      <% if @title %>
        <header>
          <h1 class="mb-4"><%= @title %></h1>
        </header>
      <% end %>
      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
